*{
    margin: 0px;
    padding: 0px;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    border: 1px solid gray;


}

.box{
    padding: 20px;
    background-color: red;
    width: 110px;
    height: 110px;
}
.box2{
    background-color: blanchedalmond;
}
.box3{
    background-color: cadetblue;
}